<div class="right_content">
        	<div class="title">Testimonials</div>
            
            <div class="testimonials">
            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="test_author">- John Doe -</div>
            
            <div class="testimonials">
            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor incididunt.</p>
            </div>
            <div class="test_author">- John Doe  -</div>      
           
            
            <div class="title">Get in touch</div>
            
            <div class="info_box">
            <img src="<%= image_path 'phone_icon.gif' %>" alt="" class="phone_icon" />
            
            <p class="info">
            <span class="red">PHONE:</span> 0567 4999 5676<br />
            <span class="red">Email:</span> <a href="#">info@company.com</a><br />
            <span class="red">Adress:</span> Abraham Str. 078 Alabama<br />
            </p>
            
            </div>
            
        </div>
        
         <div id="footer">
        <div class="footer_links">                      
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">services</a>
            <a href="#">clients</a>
            <a href="#">projects</a>
            <a href="#">request a quote </a>
            <a href="#">get in touch</a>         
        </div>
        
        <div class="copyright">
<a href="http://csstemplatesmarket.com"><img src="<%= image_path 'csstemplatesmarket.gif' %>" border="0" alt="" title="" /></a>
        </div>    
    
    </div> 
