 <div class="tab_bg">
    
            
        <div class="tab_left">
       <img src="<%= image_path 'big_icon.png' %>" alt="" title="" border="0" class="big_icon" />       
        </div>
        
        <div class="middle_text">
        <h1>We grow ideas</h1>
        <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </p>
        
        </div>
    
    	<div class="tabs">
        	<div class="tab">
            <img src="<%= image_path 'icon1.png' %>" alt="" title="" border="0" class="tab_icon" />
            <p class="tab_text">
            <a href="#">Lorem ipsum dolor sit amet</a><br />
            Consectetur adipisicing
            </p>
            </div>
            
        	<div class="tab">
            <img src="<%= image_path 'icon2.png' %>" alt="" title="" border="0" class="tab_icon" />
            <p class="tab_text">
            <a href="#">Lorem ipsum dolor sit amet</a><br />
            Consectetur adipisicing
            </p>
            </div> 
            
            
        	<div class="tab">
            <img src="<%= image_path 'icon3.png' %>" alt="" title="" border="0" class="tab_icon" />
            <p class="tab_text">
            <a href="#">Lorem ipsum dolor sit amet</a><br />
            Consectetur adipisicing
            </p>
            </div>  
            
            
                   
                  
        </div>