 <div id="menu">
            <ul>                                                                       
            <li class="selected"><a href="#">home</a></li>
            <li><a href="/colleges/students">students</a></li>
            <li><a href="/colleges/staff">staff</a></li>
            <li><a href="/colleges/principal">principal</a></li>
            <li><%= link_to "principal", colleges_principal_path %> </li>
            <li><a href="#">projects</a></li>
            <li><a href="#">request a quote </a></li>
            <li><a href="#">get in touch</a></li>                                                          
            </ul>
        </div> 